<a href="https://colab.research.google.com/github/cemlus/Cognitive-Computing/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Q1
import pandas as pd
data = {
    'Tid': [1,2,3,4,5,6,7,8,9,10],
    'Refund': ['Yes','No','No','Yes','No','No','Yes','No','No','No',],
    'Marital Status': ['Single','Married','Single','Married','Divorced','Married','Divorced','Single','Married','Single'],
    'Taxable Income': ['125K','100K','70K','120K','95K','60K','220K','85K','75K','90K'],
    'Cheat': ['No','No','No','No','Yes','No','No','Yes','No','Yes',]
}
df = pd.DataFrame(data)
print(df)

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
1    2     No        Married           100K    No
2    3     No         Single            70K    No
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No
9   10     No         Single            90K   Yes

In [2]:
#Q2
rows = df.loc[[0,4,7,8]]
print(rows)

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
4    5     No       Divorced            95K   Yes
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No

In [3]:
#Q3
#(i)
rows_3_to_7 = df.loc[3:7]
print("Rows from index 3 to 7:")
print(rows_3_to_7)
#(ii)
rows_4_to_8_cols_2_to_4 = df.iloc[4:9, 2:5]
print("\nRows from index 4 to 8, columns 2 to 4:")
print(rows_4_to_8_cols_2_to_4)
#(iii)
rows_all_cols_1_to_3 = df.iloc[:, 1:4]
print("\nAll rows with columns index 1 to 3:")
print(rows_all_cols_1_to_3)

Rows from index 3 to 7:
   Tid Refund Marital Status Taxable Income Cheat
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes

Rows from index 4 to 8, columns 2 to 4:
  Marital Status Taxable Income Cheat
4       Divorced            95K   Yes
5        Married            60K    No
6       Divorced           220K    No
7         Single            85K   Yes
8        Married            75K    No

All rows with columns index 1 to 3:
  Refund Marital Status Taxable Income
0    Yes         Single           125K
1     No        Married           100K
2     No         Single            70K
3    Yes        Married           120K
4     No       Divorced            95K
5     No        Married            60K
6    Yes       Divorced           220K
7     No         Single            85K
8     No        Married            75K
9     No         Single            90K

In [ ]:
#Q4
df = pd.read_csv('Iris.csv')
print("First five rows of the dataset:")
print(df.head())

In [ ]:
#Q5
df1 = df.drop(index=4)
df2= df1.drop(columns=df.columns[3])
print("Resulting DataFrame after deleting row 4 and column 3:")
print(df2.head())

In [ ]:
data2 = {
    'Employee_ID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Edward'],
    'Department': ['HR', 'IT', 'IT', 'Marketing', 'Sales'],
    'Age': [29, 34, 41, 28, 38],
    'Salary': [50000, 70000, 65000, 55000, 60000],
    'Years_of_Experience': [4, 8, 10, 3, 12],
    'Joining_Date': ['2020-03-15', '2017-07-19', '2013-06-01', '2021-02-10', '2010-11-25'],
    'Gender': ['Female', 'Male', 'Male', 'Female', 'Male'],
    'Bonus': [5000, 7000, 6000, 4500, 5000],
    'Rating': [4.5, 4.0, 3.8, 4.7, 3.5]
}
df = pd.DataFrame(data2)
df.to_csv('Employees.csv', index=False)

In [ ]:
#Q6
df = pd.read_csv('Employees.csv')

#(a)
print("Shape of the DataFrame:", df.shape)

#(b)
print("\nSummary of the DataFrame:")
print(df.info())

#(c)
print("\nDescriptive Statistics:")
print(df.describe())

#(d)
print("\nFirst 5 rows:")
print(df.head())
print("\nLast 3 rows:")
print(df.tail(3))

#(e)
average_salary = df['Salary'].mean()
total_bonus = df['Bonus'].sum()
youngest_age = df['Age'].min()
highest_rating = df['Rating'].max()

print("\nStatistics:")
print(f"Average Salary: {average_salary}")
print(f"Total Bonus Paid: {total_bonus}")
print(f"Youngest Employee Age: {youngest_age}")
print(f"Highest Performance Rating: {highest_rating}")

#(f)
df_sorted = df.sort_values(by='Salary', ascending=False)
print("\nDataFrame sorted by Salary (descending):")
print(df_sorted)

#(g)
def categorize_performance(rating):
    if rating >= 4.5:
        return 'Excellent'
    elif rating >= 4.0:
        return 'Good'
    else:
        return 'Average'

df['Performance_Category'] = df['Rating'].apply(categorize_performance)
print("\nDataFrame with Performance Category:")
print(df)

#(h)
print("\nMissing values in the DataFrame:")
print(df.isnull().sum())

#(i)
df.rename(columns={'Employee_ID': 'ID'}, inplace=True)
print("\nDataFrame after renaming Employee_ID to ID:")
print(df)

#(j)
experienced_employees = df[df['Years_of_Experience'] > 5]
it_employees = df[df['Department'] == 'IT']

print("\nEmployees with more than 5 years of experience:")
print(experienced_employees)

print("\nEmployees in the IT department:")
print(it_employees)

#(k)
df['Tax'] = df['Salary'] * 0.1
print("\nDataFrame with Tax column:")
print(df)

#(l)
df.to_csv('Modified_Employees.csv', index=False)
print("\nModified DataFrame saved to 'Modified_Employees.csv'.")